<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-documents-heading" data-cy="DocumentsCreateUpdateHeading" jhiTranslate="hrmsApp.documents.home.createOrEditLabel">
        Create or edit a Documents
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hrmsApp.documents.referenceId" for="field_referenceId">Reference Id</label>
          <input
            type="number"
            class="form-control"
            name="referenceId"
            id="field_referenceId"
            data-cy="referenceId"
            formControlName="referenceId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hrmsApp.documents.type" for="field_type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hrmsApp.documents.subtype" for="field_subtype">Subtype</label>
          <input type="text" class="form-control" name="subtype" id="field_subtype" data-cy="subtype" formControlName="subtype" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hrmsApp.documents.fileName" for="field_fileName">File Name</label>
          <input type="text" class="form-control" name="fileName" id="field_fileName" data-cy="fileName" formControlName="fileName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hrmsApp.documents.filePath" for="field_filePath">File Path</label>
          <input type="text" class="form-control" name="filePath" id="field_filePath" data-cy="filePath" formControlName="filePath" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hrmsApp.documents.fileUrl" for="field_fileUrl">File Url</label>
          <input type="text" class="form-control" name="fileUrl" id="field_fileUrl" data-cy="fileUrl" formControlName="fileUrl" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hrmsApp.documents.issuedDate" for="field_issuedDate">Issued Date</label>
          <div class="d-flex">
            <input
              id="field_issuedDate"
              data-cy="issuedDate"
              type="datetime-local"
              class="form-control"
              name="issuedDate"
              formControlName="issuedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hrmsApp.documents.validUpTo" for="field_validUpTo">Valid Up To</label>
          <div class="d-flex">
            <input
              id="field_validUpTo"
              data-cy="validUpTo"
              type="datetime-local"
              class="form-control"
              name="validUpTo"
              formControlName="validUpTo"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hrmsApp.documents.placeOfIssued" for="field_placeOfIssued">Place Of Issued</label>
          <input
            type="text"
            class="form-control"
            name="placeOfIssued"
            id="field_placeOfIssued"
            data-cy="placeOfIssued"
            formControlName="placeOfIssued"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hrmsApp.documents.hasVerified" for="field_hasVerified">Has Verified</label>
          <input
            type="checkbox"
            class="form-check"
            name="hasVerified"
            id="field_hasVerified"
            data-cy="hasVerified"
            formControlName="hasVerified"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hrmsApp.documents.remark" for="field_remark">Remark</label>
          <input type="text" class="form-control" name="remark" id="field_remark" data-cy="remark" formControlName="remark" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hrmsApp.documents.lastModified" for="field_lastModified">Last Modified</label>
          <div class="d-flex">
            <input
              id="field_lastModified"
              data-cy="lastModified"
              type="datetime-local"
              class="form-control"
              name="lastModified"
              formControlName="lastModified"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hrmsApp.documents.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hrmsApp.documents.createdBy" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hrmsApp.documents.createdOn" for="field_createdOn">Created On</label>
          <div class="d-flex">
            <input
              id="field_createdOn"
              data-cy="createdOn"
              type="datetime-local"
              class="form-control"
              name="createdOn"
              formControlName="createdOn"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hrmsApp.documents.isDeleted" for="field_isDeleted">Is Deleted</label>
          <input type="checkbox" class="form-check" name="isDeleted" id="field_isDeleted" data-cy="isDeleted" formControlName="isDeleted" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hrmsApp.documents.freeField1" for="field_freeField1">Free Field 1</label>
          <input
            type="text"
            class="form-control"
            name="freeField1"
            id="field_freeField1"
            data-cy="freeField1"
            formControlName="freeField1"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hrmsApp.documents.freeField2" for="field_freeField2">Free Field 2</label>
          <input
            type="text"
            class="form-control"
            name="freeField2"
            id="field_freeField2"
            data-cy="freeField2"
            formControlName="freeField2"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hrmsApp.documents.freeField3" for="field_freeField3">Free Field 3</label>
          <input
            type="text"
            class="form-control"
            name="freeField3"
            id="field_freeField3"
            data-cy="freeField3"
            formControlName="freeField3"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hrmsApp.documents.employee" for="field_employee">Employee</label>
          <select
            class="form-control"
            id="field_employee"
            data-cy="employee"
            name="employee"
            formControlName="employee"
            [compareWith]="compareEmployee"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="employeeOption" *ngFor="let employeeOption of employeesSharedCollection">{{ employeeOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="hrmsApp.documents.organization" for="field_organization">Organization</label>
          <select
            class="form-control"
            id="field_organization"
            data-cy="organization"
            name="organization"
            formControlName="organization"
            [compareWith]="compareOrganization"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="organizationOption" *ngFor="let organizationOption of organizationsSharedCollection">
              {{ organizationOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
