<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="employeeDetails">
      <h2 data-cy="employeeDetailsDetailsHeading"><span jhiTranslate="hrmsApp.employeeDetails.detail.title">Employee Details</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ employeeDetails.id }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.employeeDetails.age">Age</span></dt>
        <dd>
          <span>{{ employeeDetails.age }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.employeeDetails.fatherName">Father Name</span></dt>
        <dd>
          <span>{{ employeeDetails.fatherName }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.employeeDetails.motherName">Mother Name</span></dt>
        <dd>
          <span>{{ employeeDetails.motherName }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.employeeDetails.employeeId">Employee Id</span></dt>
        <dd>
          <span>{{ employeeDetails.employeeId }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.employeeDetails.yearsOfExperience">Years Of Experience</span></dt>
        <dd>
          <span>{{ employeeDetails.yearsOfExperience }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.employeeDetails.notes">Notes</span></dt>
        <dd>
          <span>{{ employeeDetails.notes }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.employeeDetails.bloodGroup">Blood Group</span></dt>
        <dd>
          <span jhiTranslate="{{ 'hrmsApp.BloodGroup.' + employeeDetails.bloodGroup }}">{{ employeeDetails.bloodGroup }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.employeeDetails.birthDate">Birth Date</span></dt>
        <dd>
          <span>{{ employeeDetails.birthDate }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.employeeDetails.designation">Designation</span></dt>
        <dd>
          <span>{{ employeeDetails.designation }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.employeeDetails.expertise">Expertise</span></dt>
        <dd>
          <span>{{ employeeDetails.expertise }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.employeeDetails.jobDescription">Job Description</span></dt>
        <dd>
          <span>{{ employeeDetails.jobDescription }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.employeeDetails.maritalStatus">Marital Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'hrmsApp.MaritalStatus.' + employeeDetails.maritalStatus }}">{{ employeeDetails.maritalStatus }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.employeeDetails.secondaryContact">Secondary Contact</span></dt>
        <dd>
          <span>{{ employeeDetails.secondaryContact }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.employeeDetails.hobbies">Hobbies</span></dt>
        <dd>
          <span>{{ employeeDetails.hobbies }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.employeeDetails.areaInterest">Area Interest</span></dt>
        <dd>
          <span>{{ employeeDetails.areaInterest }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.employeeDetails.noOfDependent">No Of Dependent</span></dt>
        <dd>
          <span>{{ employeeDetails.noOfDependent }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.employeeDetails.languageKnown">Language Known</span></dt>
        <dd>
          <span>{{ employeeDetails.languageKnown }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.employeeDetails.natinality">Natinality</span></dt>
        <dd>
          <span>{{ employeeDetails.natinality }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.employeeDetails.description">Description</span></dt>
        <dd>
          <span>{{ employeeDetails.description }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.employeeDetails.department">Department</span></dt>
        <dd>
          <span>{{ employeeDetails.department }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.employeeDetails.joiningDate">Joining Date</span></dt>
        <dd>
          <span>{{ employeeDetails.joiningDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.employeeDetails.createdBy">Created By</span></dt>
        <dd>
          <span>{{ employeeDetails.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.employeeDetails.createdOn">Created On</span></dt>
        <dd>
          <span>{{ employeeDetails.createdOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.employeeDetails.freefield1">Freefield 1</span></dt>
        <dd>
          <span>{{ employeeDetails.freefield1 }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.employeeDetails.freefield2">Freefield 2</span></dt>
        <dd>
          <span>{{ employeeDetails.freefield2 }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.employeeDetails.freefield3">Freefield 3</span></dt>
        <dd>
          <span>{{ employeeDetails.freefield3 }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.employeeDetails.freefield4">Freefield 4</span></dt>
        <dd>
          <span>{{ employeeDetails.freefield4 }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.employeeDetails.freefield5">Freefield 5</span></dt>
        <dd>
          <span>{{ employeeDetails.freefield5 }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/employee-details', employeeDetails.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
