<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="address">
      <h2 data-cy="addressDetailsHeading"><span jhiTranslate="hrmsApp.address.detail.title">Address</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ address.id }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.address.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'hrmsApp.AddressType.' + address.type }}">{{ address.type }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.address.address1">Address 1</span></dt>
        <dd>
          <span>{{ address.address1 }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.address.hasPrefered">Has Prefered</span></dt>
        <dd>
          <span>{{ address.hasPrefered }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.address.landMark">Land Mark</span></dt>
        <dd>
          <span>{{ address.landMark }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.address.pincode">Pincode</span></dt>
        <dd>
          <span>{{ address.pincode }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.address.lattitude">Lattitude</span></dt>
        <dd>
          <span>{{ address.lattitude }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.address.longitude">Longitude</span></dt>
        <dd>
          <span>{{ address.longitude }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.address.mapNavUrl">Map Nav Url</span></dt>
        <dd>
          <span>{{ address.mapNavUrl }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.address.lastModified">Last Modified</span></dt>
        <dd>
          <span>{{ address.lastModified | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.address.lastModifiedBy">Last Modified By</span></dt>
        <dd>
          <span>{{ address.lastModifiedBy }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.address.createdBy">Created By</span></dt>
        <dd>
          <span>{{ address.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.address.createdOn">Created On</span></dt>
        <dd>
          <span>{{ address.createdOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.address.isDeleted">Is Deleted</span></dt>
        <dd>
          <span>{{ address.isDeleted }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.address.freeField1">Free Field 1</span></dt>
        <dd>
          <span>{{ address.freeField1 }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.address.freeField2">Free Field 2</span></dt>
        <dd>
          <span>{{ address.freeField2 }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.address.freeField3">Free Field 3</span></dt>
        <dd>
          <span>{{ address.freeField3 }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.address.freefield4">Freefield 4</span></dt>
        <dd>
          <span>{{ address.freefield4 }}</span>
        </dd>
        <dt><span jhiTranslate="hrmsApp.address.freefield5">Freefield 5</span></dt>
        <dd>
          <span>{{ address.freefield5 }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/address', address.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
